<h5>Exercise 1: Create a Jupyter Notebook</h5>

<h5>Exercise 2: Create markdown cell with title of the notebook</h5>

<h1>Data Science Tools and Ecosystem</h1>

<h5>Exercise 3 - Create a markdown cell for an introduction</h5>

In this notebook, Data Science Tools and Ecosystem are summarized

<b>Objectives:</b>

- Java
- Python
- SQL

<h5>Exercise 4 - Create a markdown cell to list data science languages</h5

Some of the popular languages that Data Scientists use are:

<ol>
    <li>SQL</li>
    <li>Python</li>
    <li>R</li>
    <li>Java</li>
    <li>C#</li>
</ol>

<h5>Exercise 5 - Create a markdown cell to list data science libraries</h5

Some of the commonly used libraries used by Data Scientists include:

<ol>
  <li>NumPy</li>
  <li>Pandas</li>
  <li>Matplotlib</li>
</ol>

<h5>Exercise 6 - Create a markdown cell with a table of Data Science tools</h5>

<table>
    <tr>
        <td>Data Science Tools</td>
    </tr>
    <tr>
        <td>Jupyter</td>
    </tr>
    <tr>
        <td>R studio</td>
    </tr>
    <tr>
        <td>VS Code</td>
    </tr>
</table>

<h5>Exercise 7 - Create a markdown cell introducing arithmetic expression examples</h5>

<H3>Below are a few examples of evaluating arithmetic expressions in Python</H3>

<h5>Exercise 8 - Create a code cell to multiply and add numbers</h5>

In [2]:
# This a simple arithmetic expression to mutiply then add integers

resultado = (3*4)+5
print(resultado)

17

<h5>Exercise 9 - Create a code cell to convert minutes to hours</h5>

In [3]:
# This will convert 200 minutes to hours by diving by 60

resultado = 200 % 60
print(resultado)

20

<h5>Exercise 10 - Insert a markdown cell to list Objectives</h5>

<h5>Exercise 11 - Create a markdown cell to indicate the Author's name</h5>

<h5>Exercise 12 - Share your notebook through GitHub</h5>

<h5>Exercise 13 -Take a screenshot of the first page of the notebook and save it as 1-notebook.png</h5>